/* COLORES
Rojo
    #f44336
Rojo 700
    #d32f2f

Cyan
    #00bcd4
Cyan 700
    #0097a7

Gris azul oscuro
    #37474F

*/


@font-face {
    font-family: "PoiretOne";
    src: url("../fonts/PoiretOne-Regular.ttf");
}
@font-face {
    font-family: "VT323";
    src: url("../fonts/VT323-Regular.ttf");
}
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  color: #37474F;
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #2c393f;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container .text-muted {
    margin: 20px 0;
    color: #eee;
    font-size: 12px
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

h1 {
    font-family: "PoiretOne";
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 52px;
    color: #37474F;
}
h2 {
    font-family: "VT323";
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 32px;
    margin-bottom: 50px;
}
h3 {
    font-family: "PoiretOne";
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 18px;
    margin: 10px 0;
}
h4 {
    font-family: "PoiretOne";
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 28px;
}
p {
    font-family: "PoiretOne";
    letter-spacing: 5px;
    font-size: 16px;
    font-weight: bold;
}
nav {
    font-family: "PoiretOne";
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
}
.navbar-default {
    background: #FFFFFF;
}
a, a:hover,a:active,a:focus,a:visited, .btn {
    text-decoration: none;
    transition: .5s;
}
.cyan, .rojo:hover {color: #00bcd4; transition: .1s;}
.rojo, .cyan:hover {color: #f44336; transition: .1s;}
.pixel {
    font-family: "Helvetica";
    font-weight: 100;
}
.text-center > img {
    margin: 0 auto;
}
.noP {
    padding: 0 !important;
}
.divider {
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 50px 0;
}


.tag {
    margin: 30px 0;
    background: #2c393f;
    padding: 10px;
}


/*Sect1 - LOGO*/
.sect1 {
    text-align: center;
    padding: 100px 0;
}
.logo {
    width: 150px;
    height: 150px;
    background: url(../img/logo.png) center top no-repeat;
    background-size: cover;
    margin: 0 auto;
    transition: 1s;
    cursor: pointer;
}



/*Sect2 - LOGO*/
.sect2 {
    background: #37474F;
    padding: 100px 0;
    color: #FFFFFF;
}
.sect2 .pixel {
    font-family: "VT323";
}

/*Sect3*/
.sect3 {
    padding: 100px 0;
    color: #37474F;
}
.sect3 h2 {
    margin-bottom: 0px;
}
.project {
    padding: 30px;
    width: 250px;
    height: 250px;
    font-size: 80px;
    background: #37474F;
    margin: 0 auto;
}
.projectBox {
    height: 500px;
}
.project1 {
    background: url(../img/portafolio/bp.png) top center no-repeat;
    background-size: cover;
}
.project2 {
    background: url(../img/portafolio/app.jpg) top center no-repeat;
    background-size: cover;
}
.project3 {
    background: url(../img/portafolio/gsm.jpg) top center no-repeat;
    background-size: cover;
}
.project4 {
    background: url(../img/portafolio/gsmNuevo.jpg) top center no-repeat;
    background-size: cover;
}
.project5 {
    background: url(../img/portafolio/lars.jpg) top center no-repeat;
    background-size: cover;
}
.project6 {
    background: url(../img/portafolio/kidsbook.jpg) top center no-repeat;
    background-size: cover;
}
.project7 {
    background: url(../img/portafolio/servifun.jpg) top center no-repeat;
    background-size: cover;
}
.project8 {
    background: url(../img/portafolio/type.jpg) top center no-repeat;
    background-size: cover;
}
.project9 {
    background: url(../img/portafolio/objetoA.jpg) top center no-repeat;
    background-size: cover;
}



@media screen and (max-width: 767px) {
    h1 {
        font-size: 32px;
    }
    h2 {
        font-size: 32px;
    }
    h3 {
        font-size: 16px;
        font-weight: bold;
    }
    h4 {
        font-size: 12px;
        font-weight: bold;
    }
    .sect2, .sect3 {
        padding: 20px 0px;
    }
}
